@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f3ebe2;
    overflow-x:hidden;
    box-sizing:border-box;
}

/*로고부분과 작은메뉴*/
.logo{
    background-color: #3b3129;
    order: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}

.logo  > h1{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-left: 120px;
}

.logo .sns{
    display: flex;
    gap: 15px;
}

.logo .sns .fa-brands{
    color: #fff;
    order: 0;
    z-index: 0;
    font-size: 20px;
    cursor: pointer;
}

.logo .sud{
    color: #fff;
    display: flex;
    gap: 20px;
    font-size: 14px;
    cursor: pointer;
}

.logo .t1{
    background: url(../img/logo.png) center center no-repeat;
    width: 300px;
    height: 50px;
    position: relative;
    left: 35px;
    cursor: pointer;
    background-size: contain;
}

/*메뉴바*/
.header{
    order: 2;
    z-index: 2;
    left: 0;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    color: #fff;
    box-shadow: 0 8px 12px rgb(0 0 0 / 20%); /*입체효과를 줄 수 있습니다.*/
}

button{
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 30px;
    background: transparent;
    color: inherit;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.header .dropdowns{
    position: fixed;
    top: 0;
    width: 100%;
}

.header{
    height: 50px;
    display: flex;
    background: #3b3129;
    visibility: hidden;
    transition-property: 
        opacity, visibility;
    transition-duration: 0.3s;
    position: static;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
    width: 100%;
    }

    .header .m_menu .menu{display: none;}

.dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 230px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.dropdown > button{
    height: 50px;
    font-size: 15px;
}

.dropdown_menu button{
    display: block;
    width: 100%;
    color: #413327;
    opacity: 1;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
}

.dropdown_menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 0;
    justify-content:flex-start;
    background: #f9f7f7e6;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    padding: 10px 0 10px 0;
    order: 4;
}

.dropdown:hover .dropdown_menu{
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

/*메인 슬라이더 부분*/
.container{
    background-color: #f3ebe2;
}

.slide {
    z-index:0;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 850px;
    flex-shrink: 0;
    transition: left 0.15s; 
}

/* 각 슬라이드 */
.slide_item.item1 {
    background: url(../img/04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_item.item2 {
    background: url(../img/01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_item.item3 {
    background: url(../img/02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_item.item4 {
    background: url(../img/03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide.slide_wrap{
    display: flex;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: all 0.15s;
}

.main .slide_btn > button{
    background-color: #ffffff5e;
}

/*컨데이너_2*/

.container_2{
    margin-top: 30px;
    justify-content: center;
    display: grid;
    color: #fff;
    font-weight: bold;
    padding-bottom: 30px;
}

.container_2 > div{
    color: #fff;
}

.container_2 .a {
    box-shadow: 3px 3px 3px rgb(186, 185, 185);
}
.container_2 .a .event_imgs{
    position: relative;
    overflow: hidden;
    width: 610px;
    height: 530px;
    background-size: cover;
}

.container_2 .a .event_imgs >img{
    width: 610px;
    height: 530px;
    position: absolute;
    transition: all 1s;
}

.container_2 .b {
    background-color: rgba(128, 96, 73, 0.473);
    flex-direction: column;
    display: flex;
    font-size: 30px;
    align-items: center;
    box-shadow: 3px 3px 3px rgb(186, 185, 185);
}

.container_2 .b > h2{
    color: #ffffff;
    font-size: 35px;
    margin-top: 7px;
    font-weight: 400;
    letter-spacing:-3px;
    font-family: 'Chivo Mono', monospace;
    text-shadow: 2px 2px 2px rgb(52, 51, 51);
}

.container_2 .best{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    perspective: 1100px;
}

.container_2 .b .best > div{
    width: 230px;
    height: 220px;
}

.container_2 .a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.container_2 .b{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: -2;
    display: flex;
}

.container_2 .c{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.container_2 .d{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

/*1번카드*/
.container_2 .best .best_list .best_1{
    width: 100%;
    height: 100%;
    position: relative;
    transition: .9s;
    transform-style: preserve-3d;
}

.container_2 .best .best_list .best_1 .f1{
    background: url(../img/i1.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    filter: drop-shadow(5px 5px 5px gray);
}

.container_2 .best .best_list .best_1 .b1{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    filter: drop-shadow(1px 1px 1px gray);
}

.container_2 .best .best_list .best_1 .b1 >p{
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.container_2 .best .best_list:hover .best_1{
    transform: rotateY(180deg); 
}
/*2번카드*/

.container_2 .best .best_list .best_2{
    width: 100%;
    height: 100%;
    position: relative;
    transition: .9s;
    transform-style: preserve-3d;
}

.container_2 .best .best_list .best_2 .f2{
    background: url(../img/i2.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    filter: drop-shadow(5px 5px 5px gray);
}

.container_2 .best .best_list .best_2 .b2{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    filter: drop-shadow(2px 2px 2px gray);
}

.container_2 .best .best_list .best_2 .b2 >p{
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.container_2 .best .best_list:hover .best_2{
    transform: rotateY(180deg); 
}

/*3번 카드*/
.container_2 .best .best_list .best_3{
    width: 100%;
    height: 100%;
    position: relative;
    transition: .9s;
    transform-style: preserve-3d;
}

.container_2 .best .best_list .best_3 .f3{
    background: url(../img/i3.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    filter: drop-shadow(5px 5px 5px gray);
}

.container_2 .best .best_list .best_3 .b3{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    filter: drop-shadow(2px 2px 2px gray);
}

.container_2 .best .best_list .best_3 .b3 >p{
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.container_2 .best .best_list:hover .best_3{
    transform: rotateY(180deg); 
}

/*4번 카드*/

.container_2 .best .best_list .best_4{
    width: 100%;
    height: 100%;
    position: relative;
    transition: .9s;
    transform-style: preserve-3d;
}

.container_2 .best .best_list .best_4 .f4{
    background: url(../img/i4.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    filter: drop-shadow(5px 5px 5px gray);
}

.container_2 .best .best_list .best_4 .b4{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    filter: drop-shadow(2px 2px 2px gray);
}

.container_2 .best .best_list .best_4 .b4 >p{
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.container_2 .best .best_list:hover .best_4{
    transform: rotateY(180deg); 
}

/*5번 카드*/

.container_2 .best .best_list .best_5{
    width: 100%;
    height: 100%;
    position: relative;
    transition: .9s;
    transform-style: preserve-3d;
}

.container_2 .best .best_list .best_5 .f5{
    background: url(../img/i5.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    filter: drop-shadow(5px 5px 5px gray);
}

.container_2 .best .best_list .best_5 .b5{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    filter: drop-shadow(1px 1px 1px gray);
}

.container_2 .best .best_list .best_5 .b5 >p{
    color: #fff;
    font-size: 17px;
    text-align: center;;
}

.container_2 .best .best_list:hover .best_5{
    transform: rotateY(180deg); 
}

/*6번 카드*/
.container_2 .best .best_list .best_6{
    width: 100%;
    height: 100%;
    position: relative;
    transition: .9s;
    transform-style: preserve-3d;
}

.container_2 .best .best_list .best_6 .f6{
    background: url(../img/i6.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    filter: drop-shadow(5px 5px 5px gray);
}

.container_2 .best .best_list .best_6 .b6{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    filter: drop-shadow(2px 2px 2px gray);
}

.container_2 .best .best_list .best_6 .b6 >p{
    color: #fff;
    font-size: 17px;
    text-align: center;;
}

.container_2 .best .best_list:hover .best_6{
    transform: rotateY(180deg); 
}

.container_2 .c {
    background: url(../img/c.jpg) center center no-repeat;
    box-shadow: 3px 3px 3px rgb(186, 185, 185);
    cursor: pointer;
}

.container_2 .d {
    background: url(../img/d.jpg) center center no-repeat;;
    box-shadow: 3px 3px 3px rgb(186, 185, 185);
}

/*미드 컨테이너*/
.container_middle{
    background: url(../img/back.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.container_middle .middle_menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}

.container_middle .middle_menu > div{
    cursor: pointer;
    min-width: 100px;
    min-height: 100px;
    width: 200px;
    height: 200px;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.442);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container_middle .middle_menu div > h2{
    font-size: 19px;
}

.container_middle .middle_menu div > i{
    font-size: 50px;
}

/*컨테이너_3*/
.container_3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px 0 30px ;
}

.container_3 .area{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center
}

.container_3 .title{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 210px;
}

.container_3 .title .fa-solid{
    color: rgb(232, 83, 83);
}

.container_3 .title >h2{
    font-size: 25px;
    font-weight: bold;
}

.container_3 .title >p{
    font-size: 18px;
}

.container_3 .cards{
    height: 300px;
    width: 300px;
    max-width: 600px;
    max-height: 600px;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.container_3 .cards .boder{
    height: 300px;
    width: 300px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.boder:hover{
    border: 1px solid #fff;
}

.cards{
    height: 300px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow:1px 1px 10px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/*지점 카드 1*/
.card1{
    background: url(../img/a1.jpg) center center no-repeat;
    background-size: cover;
}

.card1:hover{
    background:url(../img/a1.jpg) center center no-repeat;
    background-size: 600px;
}

.card1:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card1:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card1 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card1 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드2*/
.card2{
    background: url(../img/a2.jpg) center center no-repeat;
    background-size: cover;
}

.card2:hover{
    background:url(../img/a2.jpg) center center no-repeat;
    background-size: 500px;
}

.card2:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card2:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card2 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-size: 20px;
    font-weight: bold;
}

.card2 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 3*/
.card3{
    background: url(../img/a3.jpg) center center no-repeat;
    background-size: cover;
}

.card3:hover{
    background:url(../img/a3.jpg) center center no-repeat;
    background-size: 500px;
}

.card3:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card3:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card3 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 10px;
    left:10px;
    font-size: 20px;
    font-weight: bold;
}

.card3 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 4*/
.card4{
    background: url(../img/a4.jpg) center center no-repeat;
    background-size: cover;
}

.card4:hover{
    background:url(../img/a4.jpg) center center no-repeat;
    background-size: 500px;
}

.card4:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card4:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card4 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card4 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 5*/
.card5{
    background: url(../img/a5.jpg) center center no-repeat;
    background-size: cover;
}

.card5:hover{
    background:url(../img/a5.jpg) center center no-repeat;
    background-size: 500px;
}

.card5:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card5:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card5 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-size: 20px;
    font-weight: bold;
}

.card5 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 6*/
.card6{
    background: url(../img/a6.jpg) center center no-repeat;
    background-size: cover;
}

.card6:hover{
    background:url(../img/a6.jpg) center center no-repeat;
    background-size: 500px;
}

.card6:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card6:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card6 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card6 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 7*/
.card7{
    background: url(../img/a7.jpg) center center no-repeat;
    background-size: cover;
}

.card7:hover{
    background:url(../img/a7.jpg) center center no-repeat;
    background-size: 500px;
}

.card7:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card7:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card7 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card7 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 8*/
.card8{
    background: url(../img/a8.jpg) center center no-repeat;
    background-size: cover;
}

.card8:hover{
    background:url(../img/a8.jpg) center center no-repeat;
    background-size: 500px;
}

.card8:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card8:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card8 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card8 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 9*/
.card9{
    background: url(../img/a9.jpg) center center no-repeat;
    background-size: cover;
}

.card9:hover{
    background:url(../img/a9.jpg) center center no-repeat;
    background-size: 500px;
}

.card9:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card9:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card9 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card9 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 10*/
.card10{
    background: url(../img/a10.jpg) center center no-repeat;
    background-size: cover;
}

.card10:hover{
    background:url(../img/a10.jpg) center center no-repeat;
    background-size: 500px;
}

.card10:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card10:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card10 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card10 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*지점 카드 11*/
.card11{
    background: url(../img/a11.png) center center no-repeat;
    background-size: cover;
}

.card11:hover{
    background:url(../img/a11.png) center center no-repeat;
    background-size: 500px;
    background-size: cover;
}

.card11:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card11:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card11 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card11 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
    font-size: 17px;
}

/*지점 마지막 카드*/
.card12{
    background: url(../img/a12.png) center center no-repeat;
    background-size: cover;
    cursor: pointer;
}

.card12:hover{
    background:url(../img/a12.png) center center no-repeat;
    background-size: 500px;
    background-size: cover;
}

.card12:hover h2{
    opacity: 1;
    display: block;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card12:hover p{
    opacity: 1;
    display: block;
    font-size: 17px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.card12 h2{
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    top: 15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
}

.card12 p{
    color: #fff;
    opacity: 0;
    margin: 25px 0 0 10px;
    transition: opacity 1s;
    display: none;
}

/*푸터부분*/
footer{
    width: 100%;
    height: 150px;
    background-color: #413327;
}

.footer_menu{
    height: 150px;
    display: flex;
    color: #fff;
    flex-direction: column;
    margin-top: 30px;
}

.footer_menu >ul{
    margin: 30px 0 15px 30px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.footer_p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 30px 0 30px;
    margin-top: 2px;
    font-size: 13px;
}

.footer_menu span{
    background: url(../img/last.png) center center no-repeat;
    width: 300px;
    height: 150px;
    align-self: flex-end;
    position: absolute;
    margin-left: 30px;
}

#toTop {
    position: fixed;
    bottom: 160px; 
    display: none;
    z-index: 99999;
    right: 30px;
    text-align: center;
    background-color: #b8b8b87d;
    padding: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(252, 251, 251);
}

@media screen and (min-width:320px) and (max-width:424px){
    .logo .t1{
        margin: 0;
        width: 100%;
        position: inherit;
    }
    .logo {
        padding: 10px 20px 0 20px;
        height: auto;}
    .logo .sns{display: none;}
    .logo .sud{display: none;}
    .header .dropdown{display: none;}

    .header{
        justify-content: flex-start;
    }
    .fa-solid.fa-bars{
        margin-left: 20px;
    }

    .m_menu .menu{
        position: absolute;
        top: 110px;
        background-color: rgba(226, 210, 180, 0.393);
        width: 100%;
        left: 0;
        z-index: 9999;
        height: auto;
    }
    .m_menu .menu >li{
        margin: 10px 0 10px 20px;
    }
    .m_menu .menu .m_sns{
        margin: 15px 0 10px 20px;
        font-size: 17px;
    }
    .slide.slide_wrap{
        height: 650px;
    }
    .main{height: 650px;}
    .main .container{height: 650px;}
    .slide.slide_wrap .slide_item{
        height: 650px;
        background-size: cover;
    }
    
    .container_2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 0;
        margin-top: 15px;
    }
    .container_2 .a .event_imgs{
        width: 100%;
        height: 400px;
    }
    .container_2 .a .event_imgs >img{
        width: 100%;
        height: 400px;
    }

    .container_2 .b .best > div {
        width: 200px;
        height: 180px;
    }
    .container_2 .b > h2{font-size: 28px;}
    .container_2 .best .best_list .best_1 .b1 >p{
        font-size: 15px;
    }
    .container_2 .best .best_list .best_2 .b2 >p{
        font-size: 15px;
    }
    .container_2 .best .best_list .best_3 .b3 >p{
        font-size: 15px;
    }
    .container_2 .best .best_list .best_4 .b4 >p{
        font-size: 15px;
    }
    .container_2 .best .best_list .best_5 .b5 >p{
        font-size: 15px;
    }
    .container_2 .best .best_list .best_6 .b6 >p{
        font-size: 15px;
    }
    .container_middle .middle_menu{
        flex-wrap: wrap;
        gap: 20px;
    }
    .container_middle .middle_menu div > i {font-size: 38px;}
    .container_middle .middle_menu div > h2{font-size: 14px;}
    .container_middle .middle_menu > div{
        width: 130px;
        height: 130px;
    }
    .container_3{display: none;}
    .footer_menu{margin: 15px 0 0 0 ;}

    .footer_menu >ul {
        margin: 20px 0 15px 10px;
        gap: 10px;
        font-size: 11px;
        flex-wrap: wrap;
    }
    .footer_p {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 15px 0 10px;
        margin-top: 2px;
        font-size: 11px;
    }
    .footer_menu > span{display: none;}
    #toTop{right: 10px;}
}

@media screen and (min-width:425px) and (max-width:767px){
    .logo .t1{
        margin: 0;
        width: 100%;
        position: inherit;
    }
    .logo {padding: 10px 20px 0 20px;}
    .logo .sns{display: none;}
    .logo .sud{display: none;}
    .header .dropdown{display: none;}

    .header{
        justify-content: flex-start;
    }
    .fa-solid.fa-bars{
        margin-left: 20px;
    }

    .m_menu .menu{
        position: absolute;
        top: 132px;
        background-color: rgba(226, 210, 180, 0.393);
        width: 100%;
        left: 0;
        z-index: 9999;
        height: auto;
    }
    .m_menu .menu >li{
        margin: 10px 0 10px 20px;
    }
    .m_menu .menu .m_sns{
        margin: 15px 0 10px 20px;
        font-size: 18px;
    }
    .slide.slide_wrap{ height: 600px;}
    .slide.slide_wrap .slide_item{
        height: 600px;
        background-size: cover;
    }

    .container_2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .container_2 .a .event_imgs{
        width: 100%;
        height: 460px;
    }
    .container_2 .a .event_imgs >img{
        width: 100%;
    }
    .container_2 .b .best > div {
        width: 200px;
        height: 220px;
    }
    .container_2 .b > h2{font-size: 28px;}
    .container_2 .c{
        width: 100%;
        height: 200px;
        background: url(../img/c4.jpg);
    }
    .container_2 .d{
        width: 100%;
        height: 200px;
        background: url(../img/d4.jpg);
    }
    .container_middle .middle_menu{
        flex-wrap: wrap;
        gap: 60px;
    }
    .container_middle .middle_menu div > i {font-size: 40px;}
    .container_middle .middle_menu div > h2{font-size: 16px;}
    .container_middle .middle_menu > div{
        width: 130px;
        height: 130px;
    }
    .container_3 {display: none;}

    .footer_menu >ul {
        margin: 20px 0 15px 10px;
        gap: 10px;
        font-size: 13px;
        flex-wrap: wrap;
    }
    .footer_p {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 15px 0 10px;
        margin-top: 2px;
        font-size: 11px;
    }
    .footer_menu span{
        width: 50px;
        height: 50px;
        background: url(../img/last_logo.png) center center no-repeat;
        margin: 10px 10px 0 0;
    }
}


@media screen and (min-width: 768px){

    .header .fa-solid.fa-bars{
        display: block;
    }
    .header .dropdown{
        display: none;
    }

    .logo{
        justify-content: center
    }

    .logo .t1{
        width: 400px;
        height: 100px;
        position: static;
    }

    .logo .sns{
        display: none;
    }

    .logo .sud{
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 90px;
        position: absolute;
        top: 142px;
        z-index: 9999;
        right: 0;
        display: none;
    }

    .header .m_menu .menu{
        background-color: #e4d3c881;
        width: 100%;
    }

    .header .m_menu .menu > li{
        font-size: 20px;
        margin: 20px 0 20px 10px;
        cursor: pointer;
    }

    .header .m_menu .menu > i{
        font-size: 17px;
    }

    .header .m_menu .menu .m_sns{
        display: flex;
        gap: 20px;
        font-size: 20px;
        margin-left: 10px;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .header{
        justify-content: flex-start;
    }

    .header >i{
        margin-left: 20px;
        font-size: 25px;
    }

    .main {
        height: 800px;
    }

    .main .container {
        height: 800px;
    }

    .main .container .slide {
        height: 800px;
    }

    .main .container .slide .slide_item {
        width: 100%;
        height: 800px;
        background-size: cover;
    }

    .container_2{
        margin-top: 30px;
        gap: 10px;
        display: flex;
        flex-direction: column
    }

    .container_2 .a .event_imgs{
        width: 100%;
        height: 600px;
        box-shadow: none;
        border-radius: 5px;
    }

    .container_2 .a .event_imgs > img{
        width: 100%;
        height: 600px;
    }

    .container_2 .b .best .best_list {
        width: 200px;
        height: 210px;
    }
    .container_2 .b{
        border-radius: 5px;
    }
    .container_2 .c{
        background: url(../img/c3.jpg) center center no-repeat;
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }
    .container_2 .d{
        background: url(../img/d3.jpg) center center no-repeat;
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }

    .container_middle .middle_menu{
        gap: 50px;
    }

    .container_middle .middle_menu div > i {
        font-size: 40px;
    }

    .container_middle .middle_menu > div{
        width: 150px;
        height: 150px;
    }

    .container_3 .title{
        margin: 0;
    }

    /*지점 카드 뷰분*/
    .card1:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card1:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card2:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card2:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card3:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card3:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card4:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card4:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card5:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card5:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card6:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card6:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card7:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card7:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card8:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card8:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card9:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card9:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card10:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card10:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card11:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card12:hover p{
        font-size: 15px;
        margin-left: 25px;
    }

    .card12:hover h2{
        margin: 10px 0 0 10px;
        font-size: 18px;
    }

    .card11:hover p{
        font-size: 15px;
        margin-left: 25px;
    }
    /*푸터부분*/
    .footer_menu ul{
        font-size: 11px;
        gap: 25px;
    }

    .footer_menu span{
        width: 180px;
        height: 60px;
        margin: 60px 10px 0 0;
    }

    #toTop{right: 10px;}
}

@media screen and (min-width: 769px) and (max-width: 1023px){
    .header .fa-solid.fa-bars{
        display: block;
    }
    .header .dropdown{
        display: none;
    }

    .logo{
        justify-content: center
    }

    .logo .t1{
        width: 400px;
        height: 100px;
        position: static;
    }

    .logo .sns{
        display: none;
    }

    .logo .sud{
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 90px;
        position: absolute;
        top: 142px;
        z-index: 9999;
        right: 0;
        display: none;
    }

    .header .m_menu .menu{
        background-color: #e4d3c881;
        width: 100%;
    }

    .header .m_menu .menu > li{
        font-size: 20px;
        margin: 20px 0 20px 10px;
        cursor: pointer;
    }

    .header .m_menu .menu > i{
        font-size: 17px;
    }

    .header .m_menu .menu .m_sns{
        display: flex;
        gap: 20px;
        font-size: 20px;
        margin-left: 10px;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .header{
        justify-content: flex-start;
    }

    .header >i{
        margin-left: 20px;
        font-size: 25px;
    }

    .main {
        height: 800px;
    }

    .main .container {
        height: 800px;
    }

    .main .container .slide {
        height: 800px;
    }

    .main .container .slide .slide_item {
        width: 100%;
        height: 800px;
        background-size: cover;
    }

    .container_2{
        display: grid;
        gap: 10px;
        grid-template-columns:repeat(auto-fit,minmax(200px,auto));
        grid-template-rows: repeat(5,minmax(120px,auto))
    }
    .container_2 .a{height: 540px;}
    .container_2 .a .event_imgs {width: 100%; height: 540px;}
    .container_2 .a .event_imgs >img {width: 100%; height: 540px;}

    .container_2 .c{
        background: url(../img/c2.jpg) center center no-repeat;
        height: 330px;
        background-size: cover;
    }
    .container_2 .b .best > div {
        width: 180px;
        height: 220px;
    }
    .container_2 .d{
        background: url(../img/d6.jpg) center center no-repeat;
        background-size: cover;
    }

    .container_middle .middle_menu{gap: 25px;}
    .container_middle .middle_menu > div{width: 180px; height: 180px;}

    .container_3 .title{margin-left: 0;}

    #toTop{right: 20px}

    .footer_menu >ul{font-size: 14px;}
    .footer_menu span{
        width: 200px;
        height: 100px;
        margin-top: 40px;
    }
}

@media screen and (min-width:1024px){
.main, 
.container{
    height: 700px;
}

.main .container .slide{
    height: 700px;
}

.main .container .slide .slide_item{
    width: 100%;
    height: 700px;
}

.header .fa-solid.fa-bars {
    display: none;
}

.dropdown{
    display: block;
}

.header .fa-solid.fa-bars {
    display: none;
}

header .dropdown {
    display: flex;
}

.logo .sns{
    display: flex;
    gap: 15px;
}

.logo .sud {
    display: flex;
    gap: 15px;
}

.header .m_menu{
    display: none;
}

.logo{
    justify-content: space-around;
}

.header{
    gap: 0px;
}

.container_2{
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(auto-fit,minmax(200px,auto));
    grid-template-rows: repeat(5,minmax(120px,auto))
}

.container_2 .a {border-radius: inherit;}

.container_2 .a .event_imgs{
    width: 456px;
    height: 380px;
}

.container_2 .a .event_imgs > img{
    width: 456px;
    height: 380px;
}

.container_2 .b{
    width: 456px;
    height: 510px;
    border-radius: inherit;
}

.container_2 .b > h2{
    font-size: 27px;
}

.container_2 .b .best .best_list{
    width: 200px;
    height: 160px;
}

.container_2 .best .best_list .best_1 .b1 >p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.container_2 .best .best_list .best_1 .b1 >p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.container_2 .best .best_list .best_2 .b2 >p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.container_2 .best .best_list .best_3 .b3 >p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.container_2 .best .best_list .best_4 .b4 >p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.container_2 .best .best_list .best_5 .b5 >p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.container_2 .best .best_list .best_6 .b6 >p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.container_2 .c {
    background: url(../img/c5.jpg) center center no-repeat;
    background-size: cover;
    height: 340px;
    border-radius: inherit;
}

.container_2 .d {
    background: url(../img/d5.jpg) center center no-repeat;
    background-size: cover;
    border-radius: inherit;
    height: 210px;
}

.container_middle .middle_menu > div{
    width: 150px;
    height: 150px;
}

.container_middle .middle_menu div > i {
    font-size: 40px;
}

.container_middle .middle_menu div > h2 {
    font-size: 16px;
}

.container_3{
    margin: 30px 0 30px 0;
}

.container_3 .title{
    margin: 0 0 0 15px;
}

.container_3 .area{
    margin: 30px 0 0 0;
    gap: 7px;
    align-content: stretch;
}

.container_3 .area{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
}

.container_3 .area .cards{
    width: 230px;
    height: 230px;
}

/*지점 카드 뷰분*/
.card1:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card1:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card2:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card2:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card3:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card3:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card4:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card4:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card5:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card5:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card6:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card6:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card7:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card7:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card8:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card8:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card9:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card9:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card10:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card10:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card11:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card12:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.card12:hover h2{
    margin: 30px 0 0 30px;
    font-size: 16px;
}

.card11:hover p{
    font-size: 13px;
    margin-left: 45px;
}

.footer_menu >ul{
    font-size: 12px;
}

.footer_menu span{
    width: 200px;
    height: 70px;
    margin: 10px 10px 0 0;
}

.footer_p{
    font-size: 12px;
}
}

@media all and (min-width:1440px){
.logo .sns{
    display: flex;
    gap: 15px;
}

.logo .sud > span{
    font-size: 15px;
}

.logo .sud{
    display: flex;
    gap: 15px;
}

.logo{
    gap: 100px;
    justify-content: space-around;
}

.header {
    height: 50px;
    display: flex;
    background: #3b3129;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
    position: static;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
    width: 100%;
    gap: 0;
    align-items: center;
}

.dropdown{
    display: flex;
}
.main, .container {
    height: 850px;
}
.main .container .slide {
    height: 850px;
}
.main .container .slide .slide_item {
    width: 100%;
    height: 850px;
    background-size: contain;
}

.dropdown > button {
    font-size: 16px;
}

.dropdown_menu button{
    font-size: 15px;
}

.container_2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    grid-template-rows: repeat(5,minmax(170px,auto));
}

.container_2 .a .event_imgs {
    width: 610px;
    height: 530px;
}

.container_2 .a .event_imgs >img {
    width: 610px;
    height: 530px;
}

.container_2 .a {
    border-radius: inherit;
    height: 530px;
}

.container_2 .b {
    width: 610px;
    height: 710px;
}

.container_2 .b >h2 {
    font-size: 29px;
}


.container_2 .b .best .best_list{
    width: 240px;
    height: 225px;
}

.container_2 .c {
    background: url(../img/c.jpg) center center no-repeat;
    height: auto;
    background-size: cover;
}

.container_2 .d {
    background: url(../img/d6.jpg) center center no-repeat;
    height: auto;
}

.container_middle .middle_menu > div{
    width: 200px;
    height: 200px;
}

.container_middle .middle_menu div > i{
    font-size: 55px;
}

.container_middle .middle_menu div > h2{
    font-size: 19px;
}

.card1 .boder > h2{
    top: 25px;
    left: 20px;
}

.card1:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;
}

.card1:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}

.card2 .boder > h2{
    top: 25px;
    left: 20px;
}

.card2:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card2:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}
.card3:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card3:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}   

.card4:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card4:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  

.card5:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card5:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  

.card6:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card6:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  

.card7:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card7:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}

.card8:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card8:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  

.card9:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card9:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  

.card10:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card10:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  

.card11:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card11:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  

.card12:hover h2 {
    margin: 20px 0 0 20px;
    font-size: 18px;}

.card12:hover p {
    font-size: 17px;
    padding-top: 10px;
    margin-left: 40px;
}  
/*컨테이너 3*/
.container_3 .cards{
    margin-left: 10px;
    margin-right: 10px;
}

.container_3 .area .cards{
    width: 270px;
    height: 270px;
}

.container_3 .title{
    margin-left: 210px;
}

.container_3 .area {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
}



.footer_menu >ul{
    font-size: 16px;
}

.footer_p{
    font-size: 14px;
}

.footer .footer_menu >span{
    margin-right: 50px;
}
}

@media screen and (min-width:1441px) and (max-width:1920px){
.logo .sns{
    display: flex;
    gap: 15px;
}

.logo .sud{
    display: flex;
    gap: 15px;
}

.logo{
    gap: 100px;
    justify-content: space-around;
}

.logo .t1{
    width: 400px;
    height: 60px;
}

.logo .sud > span{
    font-size: 17px;
}

.dropdown > button {
    font-size: 18px;
}

.dropdown_menu button{
    font-size: 17px;
}

.header {
    height: 50px;
    display: flex;
    background: #3b3129;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
    position: static;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
    width: 100%;
    gap: 0;
    align-items: center;
}

.dropdown{
    display: flex;
}

.header .m_menu{
    display: none;
}

.main, .container {height: 900px;}
.main .container .slide{height: 900px;}
.main .container .slide .slide_item{
    height: 900px;
    background-size: contain;
}

.container_2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:300px 300px 300px 300px;
    grid-template-rows: 170px 170px 170px 170px 170px;
}

.container_2 .a .event_imgs {
    width: 610px;
    height: 530px;
}

.container_2 .a .event_imgs >img {
    width: 610px;
    height: 530px;
}

.container_2 .b {
    width: 610px;
    height: 710px;
}

.container_2 .b >h2 {
    font-size: 30px;
}

.container_2 .b .best .best_list{
    width: 280px;
    height: 225px;
}

.container_middle .middle_menu > div{
    width: 200px;
    height: 200px;
}

.container_middle .middle_menu div > i{
    font-size: 55px;
}

.container_middle .middle_menu div > h2{
    font-size: 21px;
}

.container_middle{height: 550px;}

.container_2 .best .best_list .best_1 .b1 >p {font-size: 22px;}
.container_2 .best .best_list .best_2 .b2 >p {font-size: 22px;}
.container_2 .best .best_list .best_3 .b3 >p {font-size: 22px;}
.container_2 .best .best_list .best_4 .b4 >p {font-size: 22px;}
.container_2 .best .best_list .best_5 .b5 >p {font-size: 22px;}
.container_2 .best .best_list .best_6 .b6 >p {font-size: 22px;}



/*컨테이너 3*/

.container_3 .area {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
}

.container_3 .cards{
    margin-left: 10px;
    margin-right: 10px;
}

.container_3 .area .cards{
    width: 350px;
    height: 350px;
}

.container_3 .title{
    margin-left: 210px;
}

.container_3 .cards .boder {
    height: 100%;
    width: 100%;}

.container_3 .title >h2{font-size: 30px;}
.container_3 .title >p {font-size: 20px;}

.card1{width: 100%; height: 100%;}
.card2{width: 100%; height: 100%;}
.card3{width: 100%; height: 100%;}
.card4{width: 100%; height: 100%;}
.card5{width: 100%; height: 100%;}
.card6{width: 100%; height: 100%;}
.card7{width: 100%; height: 100%;}
.card8{width: 100%; height: 100%;}
.card9{width: 100%; height: 100%;}
.card10{width: 100%; height: 100%;}
.card11{width: 100%; height: 100%;}
.card12{width: 100%; height: 100%;}

.card1:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card1:hover p{font-size: 20px;}

.card2:hover:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card2:hover p{font-size: 20px;}

.card3:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card3:hover p{font-size: 20px;}

.card4:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card4:hover p{font-size: 20px;}

.card5:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card5:hover p{font-size: 20px;}

.card6:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card6:hover p{font-size: 20px;}

.card7:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card7:hover p{font-size: 20px;}

.card8:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card8:hover p{font-size: 20px;}

.card9:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card9:hover p{font-size: 20px;}

.card10:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card10:hover p{font-size: 20px;}

.card11:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card11:hover p{font-size: 20px;}

.card12:hover h2 {
    margin: 10px 0 0 10px;
    font-size: 25px;
}
.card12:hover p{font-size: 20px;}

.footer_menu >ul{
    font-size: 16px;
}

.footer_p{
    font-size: 15px;
}
}